name: auto-rebase

on:
  push:
    branches:
      - master

jobs:
  rebase:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          ref: develop

      - name: Fetch master branch
        run: git fetch origin master:master

      - name: Rebase develop on master
        run: |
          git branch --all
          git rebase master
          git push --force-with-lease origin develop
