name: auto-rebase

on:
  push:
    branches:
      - master

jobs:
  rebase:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          ref: develop

      - name: Fetch master branch
        run: git fetch origin master:master

      - name: Rebase develop on master
        run: |
          git rebase master
          git config user.name github-actions
          git config user.email github-actions@github.com
          git push --force-with-lease origin develop
