name: playground

on:
  workflow_dispatch:
    inputs:
      image-tag:
        description: 'Image tag'
        required: true
        type: string

jobs:
  playground-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout codebase
        uses: actions/checkout@v3
      - name: Setup docker build vars
        id: build_vars
        run: |
          echo "branch====> ${{ github.ref.replace('refs/heads/', '') }}"
          echo "tag =====> ${{ inputs.image-tag }}"
